.slider-area {
  width: 20rem;
  margin: 0 auto;
}

.slider-tooltip {
  white-space: nowrap;
  font-size: 0.9rem;
  font-weight: 200;
}

.ping {
  fill: #ff69ffd4 !important;
  stroke: #ff69ffd4 !important;
  stroke-width: 0px !important;
}
